doctype html
html(lang="ja")
  head
    meta(charset="UTF-8")
    title Call
  body
    - for (var i = 0; i < 5; i++)
      p #{i} Dolor consectetur facilis quis quae eaque.
    script(src="./script.js")
